{% extends "layout.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
      <div class="col-5" id="options-pane">
        <!-- 40% width content here -->
         <div class="content">
            <div id="title"><h1>Learning Film Photography</h1></div>

            <!-- Buttons -->

            <div class="lesson-button selected" data-lesson="1">
                <div class="lesson-number">1</div>
                <div class="lesson-text">How to use a film camera</div>
              </div>
              
              <div class="lesson-button" data-lesson="2">
                <div class="lesson-number">2</div>
                <div class="lesson-text">How to develop film</div>
              </div>
              
              <div class="begin-button">Begin</div>
                       
              <!-- Decorative image information -->
         </div>

         <div id="metadata-container">
            <div id="metadata">
                <p><strong>Photography by <span id="photographer"></span></strong></p>
                <p><span id="img-title"></span></p>
                <p><span id="img-location"></span></p>
                <p><span id="img-equipment"></span></p>
            </div>
         </div>

      </div>

      <div class="col-7" id="picture-pane">
        <!-- 60% width content here -->
        <img id="gallery-img" src="" alt="Gallery Photo">
      </div>
    </div>
</div>


<script>
    window.photoData = {{ photos | tojson }};
</script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
  
{% endblock %}