<!DOCTYPE html>
<html>
<head>
    <title>Learning Film Photography</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto+Mono:ital@0;1&family=Cormorant+Garamond:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="app-container">
        <div class="landing-wrapper">
            <div class="landing-content">
                <h1>Learning Film Photography</h1>
                <div class="module-selection">
                    {% for id, module in lessons.items() %}
                    <label class="radio">
                        <input type="radio" name="module-select" value="{{ id }}" {% if loop.index == 1 %}checked{% endif %}>
                        <span class="module-number">{{ loop.index }}</span>
                        <span class="module-name">{{ module.name.replace(' - ', '<br>') | safe }}</span>
                    </label>
                    {% endfor %}
                    <div class="btn-container">
                        <button id="begin-btn" class="btn btn-primary">Begin</button>
                    </div>
                </div>
            </div>
            <div class="metadata">
                <p id="photo-caption"></p>
                <p id="photo-metadata"></p>
                <p id="photo-film"></p>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
