{% extends "layout.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">

        <!-- NAV BAR STUFF -->
        <div class="col-3" id="nav-bar">
            <a href="/"><div id="return-menu"><img src="{{ url_for('static', filename='images/back.png') }}" style="width:6%; height:auto; margin-right:20px;">Return to main menu</div></a>
            <div id="module-title"><div id="module-num"><strong>1</strong></div><h3>How to use a film camera</h3></div>

            <div class="spacer" style="height:50px;"></div>

            <a href="/module1"><div class="menu-option">Introduction</div></a>
            <a href="/module1/choosing-camera"><div class="menu-option">Choosing a camera</div></a>
            <a href="/module1/choosing-film"><div class="menu-option">Choosing film</div></a>
            <a href="/module1/camera-controls"><div class="menu-option">Camera controls</div></a>
            <a href="/module1/composing-shot"><div class="menu-option">Composing your shot</div></a>
            <a href="/module1/quiz1"><div class="menu-option selected">Quiz</div></a>

            <div id="up-next">
                <div style="padding-left:20px;"><strong>UP NEXT:</strong></div>
                <a href="/module2"><div id="next-module">How to develop film</div></a>
            </div>

        </div>

        <!-- ACTUAL CONTENT -->

        <div class="col-9 content">
            <div class="row">
                <div class="col-8 container">
                    <h1><strong>Quiz</strong></h1>
                    <div class="spacer" style="height:20px;"></div>   
                    <div>What is the main issue with this image?</div>
                    <div class="row">
                        <div class="col-6">
                            <img src="{{ url_for('static', filename='images/overexposed_photo.jpg') }}" style="max-width:100%; border: 2px solid #595959;">
                        </div>
                        <div class="col-6">
                            <div class="lesson-button" data-info=1>
                                <div class="lesson-number">A</div>
                                <div class="lesson-text">Overexposed</div>
                              </div>
                              <div class="lesson-button" data-info=2>
                                <div class="lesson-number">B</div>
                                <div class="lesson-text">Out of focus</div>
                              </div>
                              <div class="lesson-button" data-info=3>
                                <div class="lesson-number">C</div>
                                <div class="lesson-text">Motion blur</div>
                              </div>
                        </div>
                    </div>

                </div>
                <div class="col-4 controls" style="padding-top:20px;">
                    <p>Question 2/3</p>
                    <div id="feedback">
                        <h3><span id="feedback-title"></span></h3>
                        <p><span id="feedback-info"></span></p>

                    </div>

                </div>
        
            </div>
        </div>
    </div>
</div>

<!-- START: Check Button (initially shown) -->
<button class="next-button" id="check" disabled>
    <span class="btn-text">Check</span>
  </button>
  
  <!-- START: Next Button (initially hidden) -->
  <button class="next-button" id="next" style="display: none;" onclick="window.location.href='/module1/quiz3'">
    <span class="btn-text">Next</span>
    <span class="btn-icon">
      <img src="{{ url_for('static', filename='images/next.png') }}" style="height:25px;">
    </span>
  </button>
  

<button class="back-button" onclick="window.location.href='/module1/quiz1'">
    <span class="btn-icon"><img src="{{ url_for('static', filename='images/back.png') }}" style="height:25px;"></span>
    <span class="btn-text">Back</span>
</button>

<script src="{{ url_for('static', filename='js/module1_quiz2.js') }}"></script>
{% endblock %}