{% extends "layout.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">

        <!-- NAV BAR STUFF -->
        <div class="col-3" id="nav-bar">
            <a href="/"><div id="return-menu"><img src="{{ url_for('static', filename='images/back.png') }}" style="width:6%; height:auto; margin-right:20px;">Return to main menu</div></a>
            <div id="module-title"><div id="module-num"><strong>1</strong></div><h3>How to use a film camera</h3></div>

            <div class="spacer" style="height:50px;"></div>

            <a href="/module1"><div class="menu-option selected">Introduction</div></a>
            <a href="/module1/choosing-camera"><div class="menu-option">Choosing a camera</div></a>
            <a href="/module1/camera-controls"><div class="menu-option">Camera controls</div></a>
            <a href="/module1/composing-shot"><div class="menu-option">Composing your shot</div></a>
            <a href="/module1/quiz1"><div class="menu-option">Quiz</div></a>

            <div id="up-next">
                <div style="padding-left:20px;"><strong>UP NEXT:</strong></div>
                <a href="/module2"><div id="next-module">How to develop film</div></a>
            </div>

        </div>

        <!-- ACTUAL CONTENT -->

        <div class="col-9 content" >
            <div>
                <h1><strong>Introduction</strong></h1>
                <p>&nbsp;</p>
                <div class="row">
                    <div class="col-4">
                        <img src="{{ url_for('static', filename='images/palm.jpeg') }}" style="max-width:100%">
                    </div>
                    <div class="col-8">
                        <p>Film photography endures as a meaningful pursuit in our digital age, 
                            offering a deliberate and tactile experience that slows down the creative process. 
                            The limited number of exposures on each roll encourages thoughtful composition and patience, 
                            while the distinctive grain, color rendition, and imperfections of film create images with a 
                            timeless character that digital sensors struggle to replicate. The anticipation of developing and 
                            discovering your photographs adds an element of surprise and satisfaction that instant digital feedback cannot match.</p>

                            <p>This course will teach you the basics of operating a film camera, composing a shot, as well as how to develop film at home. At the end of each module, there will be questions to test your knowledge.</p>

                            <p>Created by Boxi and Vinson for COMS 4170.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button class="next-button" onclick="window.location.href='/module1/choosing-camera'">
    <span class="btn-text">Next</span>
    <span class="btn-icon"><img src="{{ url_for('static', filename='images/next.png') }}" style="height:25px;"></span></button>

<script src="{{ url_for('static', filename='js/module1_introduction.js') }}"></script>
{% endblock %}