{% extends "layout.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">

        <!-- NAV BAR STUFF -->
        <div class="col-3" id="nav-bar">
            <a href="/"><div id="return-menu"><img src="{{ url_for('static', filename='images/back.png') }}" style="width:6%; height:auto; margin-right:20px;">Return to main menu</div></a>
            <div id="module-title"><div id="module-num"><strong>1</strong></div><h3>How to use a film camera</h3></div>

            <div class="spacer" style="height:50px;"></div>

            <a href="/module1"><div class="menu-option">Introduction</div></a>
            <a href="/module1/choosing-camera"><div class="menu-option selected">Choosing a camera</div></a>
            <a href="/module1/choosing-film"><div class="menu-option">Choosing film</div></a>
            <a href="/module1/camera-controls"><div class="menu-option">Camera controls</div></a>
            <a href="/module1/composing-shot"><div class="menu-option">Composing your shot</div></a>
            <a href="/module1/quiz1"><div class="menu-option">Quiz</div></a>

            <div id="up-next">
                <div style="padding-left:20px;"><strong>UP NEXT:</strong></div>
                <a href="/module2"><div id="next-module">How to develop film</div></a>
            </div>

        </div>

        <!-- ACTUAL CONTENT -->

        <div class="col-9 content" >
            <div>
                <h1><strong>Choosing a camera</strong></h1>
                <div class="spacer" style="height:50px;"></div>

                <!--START WRITING-->
                <div>Text, etc.</div>
                <div class="spacer" style="height:50px;"></div>
                <div><h4><strong>My selection:</strong></h4></div>
                <div class="dropdown-wrapper">
                    <select class="dropdown">
                        <option value="" disabled selected>Manufacturer</option>
                        <option value="canon">Canon</option>
                        <option value="nikon">Nikon</option>
                        <option value="minolta">Minolta</option>
                    </select>
                    
                    <select class="dropdown">
                        <option value="" disabled selected>Model</option>
                        <option value="ae1">AE-1</option>
                        <option value="f1">F-1</option>
                        <option value="ftb">FTb</option>
                    </select>
                    </div>
                </div>

                <div>
                    <p>&nbsp;</p>
                    <p><strong>Not seeing your camera?</strong> Leave the above fields blank to continue with default options.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<button class="next-button" onclick="window.location.href='/module1/choosing-film'">
    <span class="btn-text">Next</span>
    <span class="btn-icon"><img src="{{ url_for('static', filename='images/next.png') }}" style="height:25px;"></span>
</button>

<button class="back-button" onclick="window.location.href='/module1/introduction'">
    <span class="btn-icon"><img src="{{ url_for('static', filename='images/back.png') }}" style="height:25px;"></span>
    <span class="btn-text">Back</span>
</button>

<script src="{{ url_for('static', filename='js/module1_choosing_camera.js') }}"></script>
{% endblock %}