{% extends "layout.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">

        <!-- NAV BAR STUFF -->
        <div class="col-3" id="nav-bar">
            <a href="/"><div id="return-menu"><img src="{{ url_for('static', filename='images/back.png') }}" style="width:6%; height:auto; margin-right:20px;">Return to main menu</div></a>
            <div id="module-title"><div id="module-num"><strong>2</strong></div><h3>How to develop film</h3></div>

            <div class="spacer" style="height:50px;"></div>

            <a href="/module2"><div class="menu-option">Welcome</div></a>
            

            <div id="up-next">
                <div style="padding-left:20px;"><strong>PREVIOUS:</strong></div>
                <a href="/module1"><div id="next-module">How to use a film camera</div></a>
            </div>

        </div>

        <!-- ACTUAL CONTENT -->

        <div class="col-9 content" >
            <div>
                <h1><strong>Quiz</strong></h1>
                <p>&nbsp;</p>
            </div>
            <!--Content here-->
            
            <div class="quiz-container">
                <div class="steps-container">
                    <div class="step" data-step="1">
                        <span class="step-text">Load the film</span>
                    </div>
                    <div class="step" data-step="2">
                        <span class="step-text">Development</span>
                    </div>
                    <div class="step" data-step="3">
                        <span class="step-text">Wash (Stopping)</span>
                    </div>
                    <div class="step" data-step="4">
                        <span class="step-text">Fixing</span>
                    </div>
                    <div class="step" data-step="5">
                        <span class="step-text">Wash and Dry</span>
                    </div>
                </div>
            </div>
            <div id="feedback"></div>
        </div>
    </div>
</div>

<!-- START: Check Button (initially shown) -->
<button class="next-button" id="check">
    <span class="btn-text">Check</span>
  </button>
  
  <!-- START: Next Button (initially hidden) -->
  <button class="next-button" id="next" style="display: none;" onclick="window.location.href='/finish'">
    <span class="btn-text">Finish</span>
    <span class="btn-icon">
      <img src="{{ url_for('static', filename='images/next.png') }}" style="height:25px;">
    </span>
  </button>
  

<button class="back-button" onclick="window.location.href='/module2/dry'">
    <span class="btn-icon"><img src="{{ url_for('static', filename='images/back.png') }}" style="height:25px;"></span>
    <span class="btn-text">Back</span>
</button>

<script src="{{ url_for('static', filename='js/module2_quiz1.js') }}"></script>
{% endblock %}